__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Environnement virtuel
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Secrets
.env
secret_key.txt

# VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
Desktop.ini