# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.sqlite3

# Media files
media/

# Static files collectstatic
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# IntelliJ / PyCharm
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Migrations compilées
*.pyc